<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aryaenrico.dynamicview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DynamicView">
        <activity
            android:name=".activity.UbahSampah"
            android:exported="false" />
        <activity
            android:name=".activity.DetailPengajuanActivity"
            android:exported="false" />
        <activity
            android:name=".detail.DetailMutasi"
            android:exported="false" />
        <activity
            android:name=".detail.DetailPengajuan"
            android:exported="false" />
        <activity
            android:name=".activity.Verifikasi"
            android:exported="false" />
        <activity
            android:name=".activity.MutasiTransaksi"
            android:exported="false" />
        <activity
            android:name=".activity.TambahKategori"
            android:exported="false" />
        <activity
            android:name=".activity.TambahSampah"
            android:exported="false" />
        <activity
            android:name=".activity.TambahUser"
            android:exported="false" />
        <activity
            android:name=".activity.UbahTransaksi"
            android:exported="false" />
        <activity
            android:name=".activity.UbahHarga"
            android:exported="false" />
        <activity
            android:name=".activity.Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.InputSampah"
            android:exported="false" />
        <activity
            android:name=".activity.Dashboard"
            android:exported="false"
            android:theme="@style/dashboard" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>